<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weatherIcon2.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errMsg}}</p>
    </div>

    {{>footer}}
</body>

</html>