<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weatherIcon2.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <hr>
        <p>{{helpText}}</p>
        <p>
            Once upon a time in a land far away there lived a prosperous kingdom ruled by a gentle king and four noble
            prince. Such was their heroism and nobility that the armies of chaos and darkness did not dare enroach its
            borders for fear of their wrath.
        </p>

        <p>
            But peace cannot last as humans can only endure but a century. Fearing for
            the future of their kingdom and its people, each of the four princely prince set forth to destroy or expel
            the evils of middle earth; the oldest and mightiest to wrestle the ogres of the north, the wisest and second
            prince to the east to parley and sue for alliance with the goblins of the west, the cunning third to marry
            the necromantic princess of the east, and the youngest and most beautiful to charm the dark elves of the
            south...
        </p>
        <p>
            but each failed and they all died. so what now? idk. you continue the story for me :)
        </p>


    </div>
    {{>footer}}

</body>

</html>