<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weatherIcon2.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <hr>
        <img class="portrait" src="img/chewie.JPG" align="right">

        <p>{{helpText}}</p>
        <p>
            Once upon a time in a land far away there lived a prosperous kingdom ruled by a gentle king and four noble
            prince. Such was their heroism and nobility that the armies of chaos and darkness did not dare enroach its
            borders for fear of their wrath.
        </p>

        <p>
            But peace cannot last as humans can only endure but a century. Fearing for
            the future of their kingdom and its people, each of the four princely prince set forth to destroy or expel
            the evils of middle earth; the oldest and mightiest to wrestle the ogres of the north, the wisest and second
            prince to the east to parley and sue for alliance with the goblins of the west, the cunning third to marry
            the necromantic princess of the east, and the youngest and most beautiful to charm the dark elves of the
            south...
        </p>
        <p>
            but each failed and they all died. so what now? idk. you continue the story for me :)
        </p>
        <br>
        <table style="width: 100%;">
            <tr>
                <th>Commands</th>
                <th>Comments</th>
            </tr>
            <tr>
                <td>npm i --save express</td>
                <td>nodejs command</td>
            </tr>
            <tr>
                <td>start.io.spring</td>
                <td>spring web, spring data jpa, mysql driver, devtools, h2database?</td>
            </tr>
            <tr>
                <td>java setup</td>
                <td>start from api, then service, then back to api, then entity then repository interface?</td>
            </tr>
            <tr>
                <td>ls -a ~/.ssh</td>
                <td>see if ssh key is generated</td>
            </tr>
            <tr>
                <td>ssh-keygen -t rsa -b 4096 -C "githubEmailId"</td>
                <td>generate ssh key for user</td>
            </tr>
            <tr>
                <td>eval $(ssh-agent) -s</td>
                <td>open connection to authentication</td>
            </tr>
            <tr>
                <td>ssh-add ~/.ssh/id_rsa</td>
                <td>add ssh key to computer</td>
            </tr>
            <tr>
                <td>cat ~/.ssh/id_rsa.pub</td>
                <td>publish ssh key to be copied to github</td>
            </tr>
            <tr>
                <td>go to github > settings</td>
            </tr>
            <tr>
                <td>ssh -T git@github.com</td>
                <td>test connection to github</td>
            </tr>
            <tr>
                <td>git remote add origin *gitSSH</td>
            </tr>
            <tr>
                <td>git remote set-url origin *gitSSH</td>
            </tr>
            <tr>
                <td>jasmine-core: 3.8.0, karma-jasmine-html-reporter: 1.7.0</td>
                <td>angular package.json</td>
            </tr>
        </table>
    <br>

    </div>
    {{>footer}}

</body>

</html>