<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weatherIcon2.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>Once upon a time in a land far away there lived a prosperous kingdom ruled by a gentle king and four noble prince. But war threatens its horizons in every direction in every 
            direction: The north by ogres, east by goblins, south by necromancers and west by the pirates and their hundred ships...</p>

        <p>Now as we all know, princes are creatures all-noble and self-sacrificing. Each of the four princes set forth to subjugate or sue for peace. Succeed they did, and peace it 
            brought to the kingdom but at the cost of their very lives. The eldest and first in line stomped by rebel ogres upset by the war, the second poisoned by by dark magic of the goblins,
            the third and forth blown to bits together by a freak explosion.</p>
        <br />
        
        <p>All that remains of the kingdom are its people, its aged king, and one very young boy, grandson to the gentle king...</p>
        <br />
        <br />
        <br />
        <br />

        <p>Now that you're bored of the MEAN stack, click here to test out the Java stack!</p>
        <p>Last updated: December 2nd, 2021</p>
    </div>
    {{>footer}}

</body>

</html>