<!DOCTYPE html>

<html>

<head>
    <title>Main</title>
    <link rel="icon" href="/img/weatherIcon2.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <hr>
        <img class="portrait" src="img/profilePic.JPG" align="right" >
        <p>
            <b>2021 | University of British Columbia Okanagan</b> <br />
            Electrical Engineer-in-Training <br />
            <a href="mailto:garenrcrvy2@gmail.com">garen.goh@alumni.ubc.ca</a>
        </p>
        <p>
            <b>2021 | Software Associate - </b> <a href="https://www.infosys.com/">Infosys</a>
            <br />
            Infosys is an Indian multinational information technology company that provides consulting and outsourcing
            services. It is headquartered in Bangalore.
        </p>
        <p>
            <b>2019 | Electrical Engineer Intern - </b> <a href="https://www.canopygrowth.com/">Canopy Growth Corp.</a>
            <br />
            Canopy Growth Corp is one of the largest producer of the controlled substance marijuana in Canada.
            Headquartered in Smith Falls, ON, it has expanded into the European and the Australian market.
        </p>
        <p>
            <b>2020 | Software Eng Coop - </b><a href="https://geotechresearchgroup.ok.ubc.ca/">UBC Geotech Research</a>
            <br />
            Through thousands of jpeg images captured by drones, a 3D environment is rendered with respective UTM
            coordinates analyzed towards research in geohazards, rock mechanics, geotechnical engineering and
            engineering geology.
        </p>
        <p>
            <b>2023 | University of Waterloo</b><br>
            Electrical and Computer Engineering <a href="https://uwaterloo.ca/graduate-studies-postdoctoral-affairs/future-students/programs/electrical-and-computer-engineering-masc-waterloo">MASc</a>
        </p>
    </div>
    <br><br>



    {{>footer}}



</body>

</html>